<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ParamMapper">
	
	<resultMap id="Param" type="com.xxl.rpc.demo.core.model.Param" >
		<result column="key" property="key" />
	    <result column="value" property="value" />
	</resultMap>

	<sql id="Base_Column_List">
		t.key,
		t.value
	</sql>
	
	<select id="load" parameterType="java.lang.String" resultMap="Param">
		SELECT <include refid="Base_Column_List" />
		FROM param AS t
		WHERE t.key = #{key}
	</select>
	
	<insert id="save" parameterType="com.xxl.rpc.demo.core.model.Param" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO `param` (
			`key`, 
			`value`
		) VALUES (
			#{key}, 
			#{value}
		);
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		</selectKey> 
	</insert>
	
	<update id="update" parameterType="com.xxl.rpc.demo.core.model.Param" >
		UPDATE `param` 
		SET `value`= #{value}
		WHERE `key`= #{key}
	</update>
	
</mapper>