<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!--
		Consumer 端配置:
		……………………………………………………………………………………………………………………
		serverAddress	: (可选) 服务Provider地址, 为空则开启Zookeeper注册中心, 从注册中心动态发现服务, 否则将使用改定的固定地址;
		netcom			: (可选) TCP通讯方案,默认NETTY, 可选范围: NETTY、MINA
		serializer		: (可选) 序列化方案,默认HESSIAN, 可选范围: HESSIAN、PROTOSTUFF、JSON
		iface			: (必选) 服务对应的api接口;
	-->
	<!-- netty-rpc (需要服务端通讯模式: NETTY/MINA) -->
	<bean id="demoService" class="com.xxl.rpc.netcom.NetComClientProxy">
		<property name="serverAddress" value="127.0.0.1:7080" />
		<property name="netcom" value="NETTY" />
		<property name="serializer" value="HESSIAN" />
		<property name="iface" value="com.xxl.rpc.example.api.IDemoService" />
	</bean>
	

</beans>
